[global_config]
  enabled_plugins = LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  window_state = maximise
  title_transmit_bg_color = "#0000C8"
  title_transmit_fg_color = "#00F800"
  borderless = True
[keybindings]
  switch_to_tab_6 = <Alt>6
  switch_to_tab_4 = <Alt>4
  switch_to_tab_5 = <Alt>5
  switch_to_tab_2 = <Alt>2
  switch_to_tab_3 = <Alt>3
  switch_to_tab_1 = <Alt>1
[profiles]
  [[default]]
    use_system_font = False
    visible_bell = True
    background_darkness = 0.95
    scrollback_lines = 40960
    background_type = transparent
    background_image = None
    scroll_on_output = False
    font = Source Code Pro for Powerline 9
  [[Small]]
    scroll_on_output = False
    font = Monospace 8
    use_system_font = False
    scrollback_infinite = True
    background_image = None
  [[Presentation]]
    use_system_font = False
    font = Monospace 14
    background_image = None
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
