[global_config]
  borderless = True
  enabled_plugins = LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  title_font = Sans 6
  title_hide_sizetext = True
  title_transmit_bg_color = "#0000c8"
  title_transmit_fg_color = "#00F800"
  title_use_system_font = False
  window_state = fullscreen
[keybindings]
  switch_to_tab_1 = <Alt>1
  switch_to_tab_2 = <Alt>2
  switch_to_tab_3 = <Alt>3
  switch_to_tab_4 = <Alt>4
  switch_to_tab_5 = <Alt>5
  switch_to_tab_6 = <Alt>6
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_darkness = 0.95
    background_type = transparent
    cursor_color = "#aaaaaa"
    font = Source Code Pro for Powerline 9
    scrollback_lines = 40960
    use_system_font = False
    visible_bell = True
  [[Presentation]]
    font = Monospace 14
    use_system_font = False
  [[Small]]
    font = Monospace 8
    scrollback_infinite = True
    use_system_font = False
